{{#if addNewPost}}
  <h2>New Post</h2>
  <form>
    <div class="input-field">
      {{input value=title id="title" placeholder="Post Title"}}
    </div>
    <div class="input-field">
      {{input value=date id="date" type="date" placeholder="Date"}}
    </div>
    <div class="input-field">
      {{input value=photo id="photo" placeholder="Add Photo"}}
    </div>
    <div class="input-field">
      {{input value=content id="content" placeholder="Description of Route and Trip"}}
    </div>
    <button {{action 'savePost'}}>Add Trip Report</button>
  </form>
{{else}}
  <button {{action 'postFormShow'}}>Add Blog Post</button>
{{/if}}
