<li>
  <h3>{{#link-to 'post' post.id}}
    {{post.title}} | {{post.date}}{{/link-to}}</h3>
  <br>
  <img src={{post.photo}} alt={{post.title}}>
  <br>
  <h4>{{post.content}}</h4>
  <br>
  {{update-post post=post update="update"}}
  <br>
  <button class="btn" {{action 'delete' post}}>Delete Post</button>
</li>
